# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Mac Desktop Services Store directory
.DS_Store

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave